<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hotel Booking</title>
</head>
<body>

<nav>
    <a th:href="@{/}">Hotel Booking</a>
    <ul>
        <li><a th:href="@{/dashboard}">Dashboard</a></li>
        <li><a th:href="@{/hotels}">Hotels</a></li>
        <li><a th:href="@{/search}">Search</a></li>
        <li><a th:href="@{/bookings}">My Bookings</a></li>
        <li><a th:href="@{/payments}">Payments</a></li>
    </ul>
    <div>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/logout}">Logout</a>
    </div>
</nav>

<!-- Content placeholder - child templates inject here -->
<div layout:fragment="content"></div>

<!-- Auth script fragment -->
<div th:replace="~{auth-script}"></div>

</body>
</html>
